{% extends 'base.html' %}
{% block content %}
<div class="row justify-content-md-center col-md-4">
    <h5>Edit your profile.</h5>
    <p>Max description length 300 characters.</p>
    <form method="POST">
        {{ form.hidden_tag() }}
        {% for field in form if field.widget.input_type != 'hidden' and field.name != 'password' %}
            {% for error in field.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
            {{ field(placeholder=field.label.text, class="form-control edit-field") }}
        {% endfor %}
        {% if form.password.errors %}
            {% for error in form.password.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        {% endif %}
        {{ form.password(placeholder="Enter your password to confirm", class="edit-password") }}

        <div>
            <button class="btn btn-success">Confirm</button>
            <a href="/users/{{ g.user.id }}"><button class="btn btn-info">Return</button></a>
        </div>
    </form>
</div>
<div id="del-button-cont">
    <button class="btn btn-danger" id="del-button">Delete Profile</button>
    <a href="/users/{{g.user.id}}/delete">
        <button class="btn btn-danger" id="confirm-button">Confirm Deletion</button>
    </a>
</div>
{% endblock %}

{% block scripts %}
<script src="http://127.0.0.1:5000/static/javascript/userDelete.js"></script>
{% endblock %}