{% extends 'base.html' %}
{% block content %}
<div id="login-div">
    <form id="login-form" method="POST">
        {{ form.hidden_tag() }}
        {% for field in form if field.widget.input_type != 'hidden' %}
            {% for error in field.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        {{ field(placeholder=field.label.text, class='form-control login-field') }}
        {% endfor %}
        <button class="btn btn-success">Login</button>
    </form>
</div>
{% endblock %}