{% extends 'base.html' %}

{% block content %}
    <div id="profile-div">
        <img src="{{ user.pic_url }}" id="profile-pic" style="width: 200px; height: 200px;">
        <h5 id="username">{{ user.username }}</h5>
        <p id="desc">{{ user.desc }}</p>
        {% if g.user.id == user.id %}
            <a href="/users/{{user.id}}/edit">Edit Profile</a>
        {% endif %}
    </div>
    <hr>
    <div id="user-palettes">
        <h5>Palettes</h5>
        <!-- VSCode will think the inline styles will cause errors. They won't.-->
        {% if user.palettes|length > 0 %}
            {% for palette in user.palettes[0:6] %}
            <div class="palette-prev">
                <div class="color-main" id="color-main" style="background-color: {{palette.main}};"></div>
                <div class="color-small no-left-border" id="color-light-c" style="background-color: {{palette.light_c}};"></div>
                <div class="color-small" id="color-light-a" style="background-color: {{palette.light_a}};"></div>
                <div class="color-small" id="color-dark-c" style="background-color: {{palette.dark_c}};"></div>
                <div class="color-small no-right-border" id="color-dark-a" style="background-color: {{palette.dark_a}};"></div>
                <a href='/palettes/{{ palette.id }}'>
                    <h6>{{ palette.name }}</h6>
                </a>
            </div>
            {% endfor %}
            <p><a href="/palettes/browse?page=0&user={{user.username}}">See More From {{user.username}}</a></p>
        {% else %}
            <p>{{user.username}} hasn't made any palettes yet!</p>
        {% endif %}
        </div>
    <hr>
    <div id="user-favorites">
        <h5>Favorites</h5>
        <!-- VSCode will think the inline styles will cause errors. They won't.-->
        {% if user.favorites|length > 0 %}
            {% for palette in user.favorites[0:8] %}
            <div class="palette-prev">
                <div class="color-main" id="color-main" style="background-color: {{palette.main}};"></div>
                <div class="color-small no-left-border" id="color-light-c" style="background-color: {{palette.light_c}};"></div>
                <div class="color-small" id="color-light-a" style="background-color: {{palette.light_a}};"></div>
                <div class="color-small" id="color-dark-c" style="background-color: {{palette.dark_c}};"></div>
                <div class="color-small no-right-border" id="color-dark-a" style="background-color: {{palette.dark_a}};"></div>
                <a href='/palettes/{{ palette.id }}'>
                    <h6>{{ palette.name }}</h6>
                </a>
            </div>
            {% endfor %}
        {% else %}
        <p>{{user.username}} hasn't favorited any palettes yet!</p>
        {% endif %}
        </div>
{% endblock %}