<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/static/stylesheets/base.css">
    <title>Palette Place</title>
</head>
<body>
    <div id="header">
        <ul id="header-links">
            <li>
                <a id='home-link' href='/'>Palette Place</a>
            </li>
            <li> 
                <a id='search-link' href="/palettes/browse?page=0">Browse</a>
            </li>
            {% if g.user %}
                <li>
                    <a class="other-links" href="/palettes/new">Create</a>
                </li>
                <li>
                    <a class="other-links" href="/users/{{g.user.id}}">Profile</a>
                </li>
                <li>
                    <a class="other-links" href='/users/logout'>Logout</a>
                </li>
            {% else %}
                <li>
                    <a class="other-links" href='/users/login'>Login</a>
                </li>
                <li>
                    <a class="other-links" href='/users/register'>Register</a>
                </li>
            {% endif %}
        </ul>
        <br class="break">
        <hr>
    </div>
    <div id="errors" class="containers">
            {% for category, message in get_flashed_messages(with_categories=True) %}
            <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
    </div>
    {% block content %}
    {% endblock %}
    <br>
    <hr>
    <div id="footer">
        <p>Created by <a href="https://www.linkedin.com/in/alex-locke-2019/">Alex Locke</a>
        <p>Capstone 1 Project for the Springboard Software Engineering Bootcamp</p>
        <p>2023</p>
    </div>


    <script src="https://unpkg.com/jquery"></script>
    <script src="https://unpkg.com/axios/dist/axios.js"></script>
    {% block scripts %}
    {% endblock %}
</body>
</html>