{% extends 'base.html' %}
{% block content %}

    <div id="search-div">
        <form id="search-form">
            <label for="name-search">Name:</label>
            <input type="text" id="name-search" class="form-control">
            <label for="user-search">User:</label>
            <input type="text" id="user-search" class="form-control">
            <label for="tag-search">Tags</label>
            <div id="added-tags">  
            </div>
            <input type="text" id="tag-search" class="form-control" autocomplete="off" width="20%">
            <div id="suggestions">
            </div>
            <button id="search-button" class="btn btn-success">Search</button>
        </form>
    </div>
    <hr>
    <div id="pal-div">
        <!-- VSCode will think the inline styles will cause errors. They won't.-->
        {% for palette in palettes %}
            <div class="palette-prev">
                <div class="color-main" id="color-main" style="background-color: {{palette.main}};"></div>
                <div class="color-small no-left-border" id="color-light-c" style="background-color: {{palette.light_c}};"></div>
                <div class="color-small" id="color-light-a" style="background-color: {{palette.light_a}};"></div>
                <div class="color-small" id="color-dark-c" style="background-color: {{palette.dark_c}};"></div>
                <div class="color-small no-right-border" id="color-dark-a" style="background-color: {{palette.dark_a}};"></div>
                <a href='/palettes/{{ palette.id }}'>
                    <h6>{{ palette.name }}</h6>
                </a>
            </div>
        {% endfor %}
        {% if palettes|length == 0 %}
            <p>No palettes found!</p>
        {% endif %}
    </div>
    <br>
    <div id="more-button">
        <button id="prev-but" class="btn btn-primary">Previous</button>
        <button id="next-but" class="btn btn-primary">Next</button>
    </div>

{% endblock %}
{% block scripts %}
<script src="/static/javascript/tagSearch.js"></script>
<script src="/static/javascript/paletteBrowse.js"></script>

{% endblock %}

