{% extends 'base.html' %}
{% block content %}
<h3>Create a New Palette</h3>
<p>Pick and lock colors and the API will generate colors to compliment them!</p>
<div id="color-section">
    <form>
        {% for color_key in colors.keys() %}
            {% set color = colors[color_key] %}
            <div class="color-picker" id="{{color_key}}">
                <h4 class="color-header">{{color_key}}</h4>
                <input type="color" id="{{color_key}}-picker" name="{{color_key}}-color" value="{{color}}">
                <br>
                <div class="checkbox-cont">
                    <input type="checkbox" class="lock" id="{{color_key}}-lock" name="{{color_key}}-lock">
                    <label for="{{color_key}}-lock">Lock</label>
                </div>
            </div>
        {% endfor %}
        <div id="model-div">
            <label for="model">Choose a model to generate with:</label>
            <select id="models" name="model">
                {% for model in models.keys() %}
                    <option id="{{model}}" value="{{model}}">{{models[model]}}</option>
                {% endfor %}
            </select>
        </div>
        <div id="button-div">
            <button class="btn btn-primary" id="gen-button">Generate Palette</button>
            <button class="btn btn-secondary" id="save-button">Save Palette</button>
        </div>
    </form>
</div>
<hr>
{% endblock %}

{% block scripts %}
<script src="http://127.0.0.1:5000/static/javascript/paletteCreate.js"></script>
{% endblock %}
