{% extends 'base.html' %}
{% block content %}
<div id="color-section">
    <!-- VSCode will think the inline styles will cause errors. They won't.-->
    <div id="main-color" class="color-box">
        <h4 class="color-header">Main</h4>
        <div class="color-display" id="main-display" style="background-color: {{palette.main}};"></div>
        <h6>{{palette.main}}</h6>
    </div>
    <div id="light-s-color" class="color-box">
        <h4 class="color-header">Light Shade</h4>
        <div class="color-display" id="light-s-display" style="background-color: {{palette.light_c}};"></div>
        <h6>{{palette.light_c}}</h6>
    </div>
    <div id="light-a-color" class="color-box">
        <h4 class="color-header">Light Accent</h4>
        <div class="color-display" id="light-a-display" style="background-color: {{palette.light_a}};"></div>
        <h6>{{palette.light_a}}</h6>
    </div>
    <div id="dark-s-color" class="color-box">
        <h4 class="color-header">Dark Shade</h4>
        <div class="color-display" id="dark-s-display" style="background-color: {{palette.dark_c}};"></div>
        <h6>{{palette.dark_c}}</h6>
    </div>
    <div id="dark-a-color" class="color-box">
        <h4 class="color-header">Dark Accent</h4>
        <div class="color-display" id="dark-a-display" style="background-color: {{palette.dark_a}};"></div>
        <h6>{{palette.dark_a}}</h6>
    </div>
</div>
<div class="palette-editor" id="{{palette.id}}">
        <form id="edit-form">
            <label for="name">Name (<i id="name-counter"></i>)</label>
            <input type="text" id="name" class='form-control login-field' value="{{palette.name}}">
            <p>Max description length 200 characters. (<i id="char-counter"></i>)</p>
            <textarea id="desc" class="form-control desc-field" name="desc" rows="2">{{palette.desc}}</textarea>
            <div id="added-tags">
                {% for tag in palette.tags %}
                    <button name="{{tag.name}}" id="{{tag.name}}" class="btn btn-secondary">{{tag.name}}</button>
                {% endfor %}
            </div>
            <input type="text" name="tag-search" id="tag-search" placeholder="Search for Tags" class="form-control">
            <div>
                <ul id="suggestions"></ul>
            </div>
            <br>
        </form>
        <button id='save-button'type="submit" class="btn btn-success">Save</button>
        <a href="/palettes/{{ palette.id }}"><button class="btn btn-warning">Return</button></a>
</div>
<div id="del-button-cont">
    <button class="btn btn-danger" id="del-button">Delete Palette</button>
    <a href="/palettes/{{palette.id}}/delete">
        <button class="btn btn-danger" id="confirm-button">Confirm Deletion</button>
    </a>
</div>
{% endblock %}

{% block scripts %}
<script src="/static/javascript/paletteEdit.js"></script>
{% endblock %}