body{
    background-color: #263a5e;
    color:#E5EBEF;
    margin-left: 8px;
    margin-right: 8px;
}

body a{
    color:#E5EBEF;
}

hr{
    color:#E5EBEF;
}

#footer{
    width:100%;
    text-align: center;
}

#footer p{
    margin-bottom: 0px;
}

#header-links{
    list-style-type: none;
    margin:0;
    padding:0;
    
}

#header-links li{
    float: left;
    height: 100px;
}

#header-links li a{
    display:block;
    padding: 8px;
    text-decoration: none;
    color: #E5EBEF;
}

#home-link{
    font-size: 50px;
    font-weight: bolder;
}

#search-link{
    font-size: 40px;
    font-weight: bold;
    position: relative;
    top: 10px;
}

#recent-palettes{
    width: 100%;
    margin: auto;
    text-align: center;    
}

.other-links{
    font-size: 30px;
    position: relative;
    top: 20px;
}

.break{
    clear:both;
}

#profile-pic{
    width: 200px;
    height: 200px;
    border: 2px solid black;
}

#color-section{
    margin: auto;
    width: 60%;
}

.color-picker{
    display: inline-block;
    border: 2px solid black;
    background-color: #E5EBEF;
}
.color-picker h4, .color-picker label{
    color:#444D66;
}

input[type=color]{
    width: 200px;
    height: 200px;
}

.checkbox-cont{
    text-align: center;
}

.color-header{
    width: 200px;
    text-align: center;
}

#button-div{
    margin: auto;
    width: 33%;
    padding-top: 10px;
}

#model-div{
    margin: auto;
    width: 40%;
    padding-top: 10px;
}

.tag-box{
    background-color: lightskyblue;
    border: 2px solid black;
    border-radius: 5px;
}

.palette-prev{
    display: inline-block;
    border: 2px solid black;
    text-align: center;
    margin: 2px;
    background-color: #E5EBEF;
}

.palette-prev i, .palette-prev a{
    color: #224D94
}

.color-main{
    width: 213px;
    height: 200px;
    border-bottom: 2px solid black;
}

.color-small{
    width: 50px;
    height: 50px;
    display: inline-block;
    border: 2px solid black;
    border-top: none;
}

.no-left-border{
    border-left: none;
}

.no-right-border{
    border-right: none;
}

.color-box{
    display: inline-block;
    border: 2px solid black;
    text-align: center;
}

.color-display{
    width: 200px;
    height:200px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

#tag-section ul{
    list-style-type: none;    
}

#tag-section li{
    float: left;
    padding: 4px;
    height: 50px;
    text-align: center;
}

#more-button {
    width: 100%;
    margin: auto;
    text-align: center;
}

#pal-div{
    width: 100%;
    margin: auto;
    text-align: center;    
}

.btn-info{
    background-color:#64B3D8;
    color: #444D66;
}

.btn-secondary{
    background-color: #64B3D8;
    color: #444D66;
}

#info{
    margin-left: 10px;
}

.login-field, .register-field{
    width: 15%;
    margin-bottom: 8px;
}

.desc-field{
    width: 20%;
    height: 150px;
    margin-bottom: 8px;
}

.edit-field{
    margin-bottom: 8px;
}

.edit-password{
    width: 40%;
}

button{
    margin: 8px;
}

#palette-editor{
    margin: auto;
    width: 100%;
}

.highlight-sug{
    background-color: yellow;
}