#header-links{
    list-style-type: none;
    margin:0;
    padding:0;
}

#header-links li{
    float: left;
    height: 100px;
}

#header-links li a{
    display:block;
    padding: 8px;
    text-decoration: none;
}

#home-link{
    font-size: 50px;
    font-weight: bolder;
}

#search-link{
    font-size: 40px;
    font-weight: bold;
    position: relative;
    top: 10px;
}

.other-links{
    font-size: 30px;
    position: relative;
    top: 20px;
}

.break{
    clear:both;
}

#color-section{
    margin: auto;
    width: 60%;
}

.color-picker{
    display: inline-block;
    border: 2px solid black;
}

input[type=color]{
    width: 200px;
    height: 200px;
}

.checkbox-cont{
    text-align: center;
}

.color-header{
    width: 200px;
    text-align: center;
}

#button-div{
    margin: auto;
    width: 33%;
    padding-top: 10px;
}

#model-div{
    margin: auto;
    width: 40%;
    padding-top: 10px;
}

.tag-box{
    background-color: lightskyblue;
    border: 2px solid black;
    border-radius: 5px;
}